*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3F6E37;
    text-align: center;
}
.weather{
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 40px 30px;
    border-radius: 20px;
    background: linear-gradient(135deg, #192B94, #A6AFDE);
    text-align: center;
}
.search{
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #DAEBF0;
    color: black;
    padding: 10px 25px;
    height: 30px;
    border-radius: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0 0 1rem rgba(0, 0, 0,10);
}

.search button{
    border: 0;
    outline: 0;
    background: #DAEBF0;
    height: 45px;
    width: 45px;
    border-radius: 40px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 10);
    
}
.search img{
     border: 0;
    outline: 0;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    background: #DAEBF0;   
}

.temp{
    font-size: 50px;
    font-weight: 500;
}
.city{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}


.weather-icon{
    height: 25%;
    width: 25%;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.humidity, .wind{
    display: flex;

}

.humid{
    
    width: 50px;
    margin-right: 10px;
    display: flex;
    
}
.windy{
   
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

#id1{
    margin-left: -10px;
    justify-content: space-between;
}

.weathcard{
    display: none;
}

.error{
    align-items: left;
    margin-left: -10px;
    display: none;
}